<header class="header" ng-include="'/www/angular/header.html'"></header>
<main class="main">
	<button class="menu-toggle" type="button" ng-click="menuToggle()" ng-class="{'toggled-on' : toggle}">
		<span></span>
	</button><!-- .menu-toggle -->
	<nav class="menu" ng-controller="menu" ng-include="'/www/angular/menu.html'"></nav>
	<article class="article">
		<div class="breadcrumb">
			<header class="breadcrumb-header">
				<h1 class="breadcrumb-title">Pulpit</h1>
			</header><!-- .breadcrumb-header -->
			<span class="breadcrumb-item breadcrumb-current">Home</span>
		</div><!-- .breadcrumb -->
		<div class="content" ng-controller="PulpitController">
			<section class="box">
				<header class="box-header">
					<h3 class="box-title">Akcje:</h3>
				</header>
				<table class="box-table">
					<tr>
						<th>Nazwa</th>
						<th>Data</th>
						<th>Autor</th>
						<th></th>
					</tr>
					<tr ng-repeat="(key, value) in actions.result|limitTo:4">
						<td>{{value.title}}</td>
						<td class="box-date"></td>
						<td class="box-author"></td>
						<td>
							<a href="/#!/document/{{value.document}}">
								<i class="icon">&#xf14c;</i>
							</a>
						</td>
					</tr>
					<tr class="box-info" ng-show="emptyActions">
						<td colspan="4">Brak akcji.</td>
					</tr>
				</table>
				<div class="box-table-more">
					<table class="box-table">
						<tr ng-repeat="(key, value) in actions.result|limitTo:100:4">
							<td>{{value.title}}</td>
							<td class="box-date"></td>
							<td class="box-author"></td>
							<td>
								<a href="/#!/document/{{value.document}}">
									<i class="icon">&#xf14c;</i>
								</a>
							</td>
						</tr>
					</table>
				</div>
				<a class="box-more js-box-more" ng-show="actions.total >= 4">
					<i class="icon">&#xe80e;</i>
				</a>
			</section>
			<section class="box">
				<header class="box-header">
					<h3 class="box-title">Komentarze:</h3>
				</header>
				<table class="box-table">
					<tr>
						<th>Treść</th>
						<th>Data</th>
						<th>Autor</th>
						<th></th>
					</tr>
					<tr ng-repeat="(key, value) in comments.result|limitTo:4">
						<td>{{value.content}}</td>
						<td class="box-date"></td>
						<td class="box-author">{{value.author}}</td>
						<td>
							<a href="/#!/document/{{value.document}}">
								<i class="icon">&#xf14c;</i>
							</a>
						</td>
					</tr>
					<tr class="box-info" ng-show="emptyComments">
						<td colspan="4">Brak komentarzy.</td>
					</tr>
				</table>
				<div class="box-table-more">
					<table class="box-table">
						<tr ng-repeat="(key, value) in comments.result|limitTo:100:4">
							<td>{{value.content}}</td>
							<td class="box-date"></td>
							<td class="box-author">{{value.author}}</td>
							<td>
								<a href="/#!/document/{{value.document}}">
									<i class="icon">&#xf14c;</i>
								</a>
							</td>
						</tr>
					</table>
				</div>
				<a class="box-more js-box-more" ng-show="comments.total >= 4">
					<i class="icon">&#xe80e;</i>
				</a>
			</section>
			<section class="box">
				<header class="box-header">
					<h3 class="box-title">Moje dokumenty:</h3>
				</header>
				<table class="box-table">
					<tr>
						<th>Nazwa</th>
						<th>Data</th>
						<th></th>
					</tr>
					<tr ng-repeat="(key, value) in documents.result|limitTo:4">
						<td>{{value.title}}</td>
						<td class="box-date">{{value.create_date}}</td>
						<td>
							<a href="/#!/document/{{value.id}}">
								<i class="icon">&#xf14c;</i>
							</a>
						</td>
					</tr>
					<tr class="box-info" ng-show="emptyDocuments">
						<td colspan="4">Brak dokumentów.</td>
					</tr>
				</table>
				<div class="box-table-more">
					<table class="box-table">
						<tr ng-repeat="(key, value) in documents.result|limitTo:100:4">
							<td>{{value.title}}</td>
							<td class="box-date">{{value.create_date}}</td>
							<td>
								<a href="/#!/document/{{value.id}}">
									<i class="icon">&#xf14c;</i>
								</a>
							</td>
						</tr>
					</table>
				</div>
				<a class="box-more js-box-more" ng-show="documents.total >= 4">
					<i class="icon">&#xe80e;</i>
				</a>
			</section>
		</div><!-- .content -->
	</article><!-- .article -->
</main><!-- .main -->
