<div class="page-documents">
	<header class="header" ng-include="'/www/angular/header.html'"></header>
    <main class="main">
		<button class="menu-toggle" type="button" ng-click="menuToggle()" ng-class="{'toggled-on' : toggle}">
			<span></span>
		</button><!-- .menu-toggle -->
		<nav class="menu" ng-controller="menu" ng-include="'/www/angular/menu.html'"></nav>
        <article class="article">
            <div class="breadcrumb">
                <header class="breadcrumb-header">
					<h1 class="breadcrumb-title">{{data.document.file_name}}</h1>
				</header><!-- .breadcrumb-header -->
				<span class="breadcrumb-item">
					<a class="breadcrumb-link" href="/#!/">Home</a>
				</span><!-- .breadcrumb-item -->
				<span class="breadcrumb-item">
					<a class="breadcrumb-link" href="/#!documents">Lista dokumentów</a>
				</span><!-- .breadcrumb-item -->
				<span class="breadcrumb-item breadcrumb-current">Dokument</span>
            </div><!-- .breadcrumb -->
            <div class="content">
 				<form id="upload-form" class="upload-form" name="uploadForm" ng-class="submitted ? 'submitted' : ''" ng-model="uploadForm" ng-controller="UploadController">
					<label class="upload-label upload-label-file" for="file">
						<p id="file-name" class="upload-label-title upload-label-required">Upuść plik tutaj <br>lub</p>
						<input id="file" class="upload-input-file" type="file" ng-model="file" onchange="openFile(event)">
						<input type="hidden" name="file_base64" id="file_base64" ng-value="data.document.data">
						<input type="hidden" name="file_name_base64" id="file_name_base64" ng-value="data.document.file_name">
						<p class="button">Wybierz plik</p>
					</label><!-- .upload-label -->
					<label class="upload-label" for="title">
						<span class="upload-label-title upload-label-required">Tytuł:</span>
						<input id="title" class="input upload-input" type="text" ng-model="data.document.title" required>
					</label><!-- .upload-label -->
					<label id="owner-container" class="upload-label" for="owner" ng-controller="GetUsersController">
						<span class="upload-label-title upload-label-required">Właściciel:</span>
						<input id="owner" class="input upload-input" type="text" ng-value="data.owner" required>
					</label><!-- .upload-label -->
					<label class="upload-label" for="description">
						<span class="upload-label-title">Opis:</span>
						<textarea id="description" class="input upload-input upload-textarea" type="text" ng-model="data.document.description"></textarea>
					</label><!-- .upload-label -->
					<label class="upload-label">
						<span class="upload-label-title">Data dodania:</span>
						<input class="input upload-input" type="text" ng-model="data.document.create_date" readonly>
					</label><!-- .upload-label -->
					<div class="container-button">
						<button class="button" type="submit" ng-click="saveDocument($event)">Zapisz</button>
						<div class="load" ng-show="loadPage"></div>
					</div><!-- .container-button -->
                </form><!-- .form-add -->
				<div class="upload-document">
					<nav id="documents-actions" class="documents-actions">
						<a id="js-download" download="{{data.document.file_name}}" class="download"></a>
						<a class="documents-actions-link" ng-click="downloadDocument($event)" data-id="{{data.document.id}}">
							<i class="icon icon-download">&#xe800;</i>
						</a><!-- .documents-actions-link -->
						<a class="documents-actions-link" ng-click="deleteDocument($event)" data-id="{{data.document.id}}">
							<i class="icon icon-delete">&#xe802;</i>
						</a><!-- .documents-actions-link -->
					</nav><!-- .documents-actions -->
					<object id="document" class="documents-object" data="{{data.document.data}}"></object>
				</div><!-- .upload-document -->
				<section class="comments">
					<header class="comments-header">
						<h2 class="comments-title">Komentarze:</h2>
					</header>
					<div class="comments-new">
						<textarea placeholder="Tutaj wpisz treść komentarza"></textarea>
						<button class="button" type="button">Dodaj komentarz</button>
					</div>
					<div class="comment">
						<div class="comment-outer">
							<div class="comment-meta">
								<i class="icon">&#xf2c0;</i>
								<p class="comment-author">admin</p>
								<i class="icon">&#xe806;</i>
								<p>2017-12-03</p>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet magna libero. Cras cursus a felis ac pellentesque. Integer interdum ligula nisi, sodales mollis nulla convallis nec. Vestibulum dolor arcu, mattis sagittis felis sit amet, elementum malesuada sapien. Proin vulputate, quam sed.</p>
							<button class="button" type="button">Odpowiedz</button>
							<div class="comments-new">
								<textarea placeholder="Tutaj wpisz treść komentarza"></textarea>
								<button class="button" type="button">Dodaj komentarz</button>
							</div>
						</div>
						<div class="comment">
							<div class="comment-outer">
								<div class="comment-meta">
									<i class="icon">&#xf2c0;</i>
									<p class="comment-author">admin</p>
									<i class="icon">&#xe806;</i>
									<p>2017-12-03</p>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet magna libero. Cras cursus a felis ac pellentesque. Integer interdum ligula nisi, sodales mollis nulla convallis nec. Vestibulum dolor arcu, mattis sagittis felis sit amet, elementum malesuada sapien. Proin vulputate, quam sed.</p>
								<button class="button" type="button">Odpowiedz</button>
							</div>
							<div class="comment">
								<div class="comment-outer">
									<div class="comment-meta">
										<i class="icon">&#xf2c0;</i>
										<p class="comment-author">admin</p>
										<i class="icon">&#xe806;</i>
										<p>2017-12-03</p>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet magna libero. Cras cursus a felis ac pellentesque. Integer interdum ligula nisi, sodales mollis nulla convallis nec. Vestibulum dolor arcu, mattis sagittis felis sit amet, elementum malesuada sapien. Proin vulputate, quam sed.</p>
									<button class="button" type="button">Odpowiedz</button>
								</div>
									<div class="comment">
										<div class="comment-outer">
											<div class="comment-meta">
												<i class="icon">&#xf2c0;</i>
												<p class="comment-author">admin</p>
												<i class="icon">&#xe806;</i>
												<p>2017-12-03</p>
											</div>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet magna libero. Cras cursus a felis ac pellentesque. Integer interdum ligula nisi, sodales mollis nulla convallis nec. Vestibulum dolor arcu, mattis sagittis felis sit amet, elementum malesuada sapien. Proin vulputate, quam sed.</p>
											<button class="button" type="button">Odpowiedz</button>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="comment">
						<div class="comment-outer">
							<div class="comment-meta">
								<i class="icon">&#xf2c0;</i>
								<p class="comment-author">admin</p>
								<i class="icon">&#xe806;</i>
								<p>2017-12-03</p>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet magna libero. Cras cursus a felis ac pellentesque. Integer interdum ligula nisi, sodales mollis nulla convallis nec. Vestibulum dolor arcu, mattis sagittis felis sit amet, elementum malesuada sapien. Proin vulputate, quam sed.</p>
							<button class="button" type="button">Odpowiedz</button>
						</div>
						<div class="comment">
							<div class="comment-outer">
								<div class="comment-meta">
									<i class="icon">&#xf2c0;</i>
									<p class="comment-author">admin</p>
									<i class="icon">&#xe806;</i>
									<p>2017-12-03</p>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet magna libero. Cras cursus a felis ac pellentesque. Integer interdum ligula nisi, sodales mollis nulla convallis nec. Vestibulum dolor arcu, mattis sagittis felis sit amet, elementum malesuada sapien. Proin vulputate, quam sed.</p>
								<button class="button" type="button">Odpowiedz</button>
							</div>
						</div>
					</div>
					<div class="comment">
						<div class="comment-outer">
							<div class="comment-meta">
								<i class="icon">&#xf2c0;</i>
								<p class="comment-author">admin</p>
								<i class="icon">&#xe806;</i>
								<p>2017-12-03</p>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet magna libero. Cras cursus a felis ac pellentesque. Integer interdum ligula nisi, sodales mollis nulla convallis nec. Vestibulum dolor arcu, mattis sagittis felis sit amet, elementum malesuada sapien. Proin vulputate, quam sed.</p>
							<button class="button" type="button">Odpowiedz</button>
						</div>
					</div>
				</section>
            </div><!-- .content -->
        </article><!-- .article -->
    </main><!-- .main -->
</div><!-- .page-documents -->
