<div class="page-documents" ng-controller="MembersController">
	<header class="header" ng-include="'/www/angular/header.html'"></header>
    <main class="main">
		<button class="menu-toggle" type="button" ng-click="menuToggle()" ng-class="{'toggled-on' : toggle}">
			<span></span>
		</button><!-- .menu-toggle -->
		<nav class="menu" ng-controller="menu" ng-include="'/www/angular/menu.html'"></nav>
        <article class="article">
            <div class="breadcrumb">
                <header class="breadcrumb-header">
					<h1 class="breadcrumb-title">{{group}}</h1>
				</header><!-- .breadcrumb-header -->
				<span class="breadcrumb-item">
					<a class="breadcrumb-link" href="/#!/">Home</a>
				</span><!-- .breadcrumb-item -->
				<span class="breadcrumb-item">
					<a class="breadcrumb-link" href="/#!/groups">Grupy użytkowników</a>
				</span><!-- .breadcrumb-item -->
				<span class="breadcrumb-item breadcrumb-current">{{group}}</span>
            </div><!-- .breadcrumb -->
            <div class="content">
                <table class="groups-table members-table">
                    <thead>
                        <tr>
                            <th>Numer</th>
                            <th>Użytkownik</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
						<tr>
							<td>
								<div class="load" ng-show="loadPage"></div>
							</td>
							<td ng-controller="SearchUserController">
								<input id="js-members-login" class="input groups-input js-get-login" type="text" placeholder="Nazwa użytkownika" value="" ng-keyup="searchUser($event)">
								<ul id="js-users-prompt" class="users-prompt">
									<li ng-repeat="(key, value) in users_prompt" ng-click="selectUser($event)" data-name="{{value.login}}">
										<a>{{value.login}}</a>
									</li>
								</ul>
							</td>
							<td class="documents-menu">
								<nav class="documents-actions">
									<a class="groups-actions-link" ng-click="addUser($event)">
										<i class="icon">&#xe809;</i>
									</a><!-- .groups-actions-link -->
								</nav><!-- .documents-actions -->
							</td>
						</tr>
						<tr ng-repeat="(key, value) in users">
							<td>{{$index+1}}</td>
							<td>{{value}}</td>
							<td class="documents-menu">
								<nav class="documents-actions">
									<a class="groups-actions-link" ng-click="deleteUser($event)" data-id="{{$index+1}}" data-name="{{value}}">
										<i class="icon">&#xe802;</i>
									</a><!-- .groups-actions-link -->
								</nav><!-- .documents-actions -->
							</td>
						</tr>
						<tr ng-repeat="item in notice">
							<td colspan="3">{{item.content}}</td>
						</tr>
					</tbody>
                </table><!-- .documents-table -->
            </div><!-- .content -->
        </article><!-- .article -->
    </main><!-- .main -->
</div><!-- .page-documents -->
