<header class="header" ng-include="'/www/angular/header.html'"></header>
<main class="main">
    <button class="menu-toggle" type="button" ng-click="menuToggle()" ng-class="{'toggled-on' : toggle}">
        <span></span>
    </button>
    <!-- .menu-toggle -->
    <nav class="menu" ng-controller="menu" ng-include="'/www/angular/menu.html'"></nav>
    <article class="article">
        <div class="breadcrumb">
            <header class="breadcrumb-header">
                <h1 class="breadcrumb-title">{{data.group_name}}</h1>
            </header>
            <!-- .breadcrumb-header -->
            <span class="breadcrumb-item">
                <a class="breadcrumb-link" href="/#!/">Home</a>
            </span>
            <!-- .breadcrumb-item -->
            <span class="breadcrumb-item">
                <a class="breadcrumb-link" href="/#!/groups">Grupy użytkowników</a>
            </span>
            <!-- .breadcrumb-item -->
            <span class="breadcrumb-item breadcrumb-current">{{data.group_name}}</span>
        </div>
        <!-- .breadcrumb -->
        <div class="content">
            <form id="js-dialog-new" class="dialog" ng-class="data.submitted ? 'submitted' : ''" title="Przypisz użytkownika" ng-controller="GetUserController">
                <input id="owner" class="input upload-input" placeholder="Nazwa użytkownika" type="text" required ng-model="data.new_user">
                <button class="ui-button ui-corner-all ui-widget" type="button" ng-click="saveUser()">Zapisz</button>
            </form>
            <!-- .dialog -->
            <form class="documents-form">
                <button id="create-group" class="button" type="button" ng-click="addUser()" ng-show="data.check_users">Przypisz użytkownika</button>
            </form>
            <!-- .documents-form -->
            <table class="groups-table members-table">
                <thead>
                    <tr>
                        <th>Numer</th>
                        <th>Użytkownik</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in data.members">
                        <td>{{$index+1}}</td>
                        <td>{{value}}</td>
                        <td class="documents-menu">
                            <nav class="documents-actions" data-user="{{value}}">
                                <a class="groups-actions-link" ng-click="deleteUser($event)">
                                    <i class="icon">&#xe802;</i>
                                </a>
                                <!-- .groups-actions-link -->
                            </nav>
                            <!-- .documents-actions -->
                        </td>
                    </tr>
                    <tr ng-repeat="item in data.notice">
                        <td colspan="3">{{item.content}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- .documents-table -->
        </div>
        <!-- .content -->
    </article>
    <!-- .article -->
</main>
<!-- .main -->