<header class="header" ng-include="'/www/angular/header.html'"></header>
<main class="main">
    <button class="menu-toggle" type="button" ng-click="menuToggle()" ng-class="{'toggled-on' : toggle}">
        <span></span>
    </button>
    <!-- .menu-toggle -->
    <nav class="menu" ng-controller="menu" ng-include="'/www/angular/menu.html'"></nav>
    <article class="article">
        <div class="breadcrumb">
            <header class="breadcrumb-header">
                <h1 class="breadcrumb-title">{{login}}</h1>
            </header>
            <!-- .breadcrumb-header -->
            <span class="breadcrumb-item">
                <a class="breadcrumb-link" href="/#!/">Home</a>
            </span>
            <!-- .breadcrumb-item -->
            <span class="breadcrumb-item breadcrumb-current">Profil</span>
        </div>
        <!-- .breadcrumb -->
        <div class="content">
            <form class="upload-form" name="userForm" ng-model="userForm">
                <label class="upload-label" for="first-name">
                    <span class="upload-label-title upload-label-required">Imię:</span>
                    <input id="first-name" class="input upload-input" type="text" required ng-model="data.user.first_name">
                </label>
                <!-- .upload-label -->
                <label class="upload-label" for="last-name">
                    <span class="upload-label-title upload-label-required">Nazwisko:</span>
                    <input id="last-name" class="input upload-input" type="text" required ng-model="data.user.last_name">
                </label>
                <!-- .upload-label -->
                <label class="upload-label" for="email">
                    <span class="upload-label-title upload-label-required">E-mail:</span>
                    <input id="email" class="input upload-input" type="text" required ng-model="data.user.email">
                </label>
                <!-- .upload-label -->
                <label class="upload-label" for="password">
                    <span class="upload-label-title">Nowe hasło:</span>
                    <input id="password" class="input upload-input" type="password" ng-model="data.password.new_password">
                </label>
                <!-- .upload-label -->
                <label class="upload-label" for="repeat-password">
                    <span class="upload-label-title" ng-class="data.password.new_password ? 'upload-label-required' : ''">Powtórz hasło:</span>
                    <input id="repeat-password" class="input upload-input" type="password" ng-model="data.password.old_password" ng-required="data.password.new_password ? true : false">
                </label>
                <!-- .upload-label -->
                <label class="upload-label" for="key-public">
                    <span class="upload-label-title">Klucz publiczny:</span>
                    <textarea id="key-public" class="input upload-input upload-textarea" ng-change="changeKey()" ng-model="data.keys.public_key"></textarea>
                </label>
                <!-- .upload-label -->
                <label class="upload-label" for="key-private">
                    <span class="upload-label-title">Klucz prywatny:</span>
                    <textarea id="key-private" class="input upload-input upload-textarea" ng-change="changeKey()" ng-model="data.keys.private_key"></textarea>
                </label>
                <!-- .upload-label -->
                <label class="upload-label">
                    <span class="upload-label-title">Typ <br>konta:</span>
                    <input class="input upload-input" type="text" readonly ng-model="data.user.type">
                </label>
                <!-- .upload-label -->
                <label class="upload-label">
                    <span class="upload-label-title">Status:</span>
                    <input class="input upload-input" value="{{data.user.active == true ? 'Aktywny' : 'Nieaktywny'}}" type="text" readonly>
                </label>
                <!-- .upload-label -->
                <label class="upload-label">
                    <span class="upload-label-title">Ostatnie <br>logowanie:</span>
                    <input class="input upload-input" type="text" readonly ng-model="data.user.last_login">
                </label>
                <!-- .upload-label -->
                <label class="upload-label">
                    <span class="upload-label-title">Ostatnio <br>aktywny:</span>
                    <input class="input upload-input" type="text" readonly ng-model="data.user.last_active">
                </label>
                <!-- .upload-label -->
                <div class="container-button">
                    <button class="button" type="submit" ng-click="saveUser($event, userForm)">Zapisz</button>
                </div>
                <!-- .container-button -->
            </form>
            <!-- .upload-form -->
        </div>
        <!-- .content -->
    </article>
    <!-- .article -->
</main>
<!-- .main -->