<header class="header" ng-include="'/www/angular/header.html'"></header>
<main class="main">
	<button class="menu-toggle" type="button" ng-click="menuToggle()" ng-class="{'toggled-on' : toggle}">
		<span></span>
	</button><!-- .menu-toggle -->
	<nav class="menu" ng-controller="menu" ng-include="'/www/angular/menu.html'"></nav>
	<article class="article" ng-controller="UserController">
		<div class="breadcrumb">
			<header class="breadcrumb-header">
				<h1 class="breadcrumb-title">{{login}}</h1>
			</header><!-- .breadcrumb-header -->
			<span class="breadcrumb-item">
				<a class="breadcrumb-link" href="/#!/">Home</a>
			</span><!-- .breadcrumb-item -->
			<span class="breadcrumb-item breadcrumb-current">Profil</span>
		</div><!-- .breadcrumb -->
		<div class="content">
			<form class="upload-form" name="userForm" ng-model="userForm">
				<label class="upload-label" for="first-name">
					<span class="upload-label-title upload-label-required">Imię:</span>
					<input id="first-name" class="input upload-input" type="text" ng-model="first_name" required>
				</label><!-- .upload-label -->
				<label class="upload-label" for="last-name">
					<span class="upload-label-title upload-label-required">Nazwisko:</span>
					<input id="last-name" class="input upload-input" type="text" ng-model="last_name" required>
				</label><!-- .upload-label -->
				<label class="upload-label" for="email">
					<span class="upload-label-title upload-label-required">E-mail:</span>
					<input id="email" class="input upload-input" type="text" ng-model="email">
				</label><!-- .upload-label -->
				<label class="upload-label">
					<span class="upload-label-title">Typ <br>konta:</span>
					<input class="input upload-input" type="text" ng-model="type" required readonly>
				</label><!-- .upload-label -->
				<label class="upload-label">
					<span class="upload-label-title">Status:</span>
					<input class="input upload-input" type="text" ng-model="active" required readonly>
				</label><!-- .upload-label -->
				<label class="upload-label">
					<span class="upload-label-title">Ostatnie <br>logowanie:</span>
					<input class="input upload-input" type="text" ng-model="last_login" required readonly>
				</label><!-- .upload-label -->
				<label class="upload-label">
					<span class="upload-label-title">Ostatnio <br>aktywny:</span>
					<input class="input upload-input" type="text" ng-model="last_active" required readonly>
				</label><!-- .upload-label -->
				<label class="upload-label">
					<span class="upload-label-title">Grupy:</span>
					<ul class="user-groups">
						<li class="user-groups-item" ng-repeat="group in groups">{{group.name}}</li>
					</ul>
				</label>
				<p class="alert {{item.class}}" ng-repeat="item in notice">{{item.content}}</p>
				<div class="container-button">
					<button class="button" type="submit" ng-click="saveUser($event)">Zapisz</button>
					<div class="load" ng-show="loadPage"></div>
				</div><!-- .container-button -->
			</form><!-- .upload-form -->
		</div><!-- .content -->
	</article><!-- .article -->
</main><!-- .main -->
